@import 'variables';

.imports .list-group-item {
  color: $white;
}

.imports .list-group-item.list-group-item-success {
  background: $green;
}

.imports .list-group-item.list-group-item-info {
  background: $blue;
}

.imports .list-group-item.list-group-item-warning {
  background: $yellow;
}

.imports .list-group-item.list-group-item-danger {
  background: $red;
}