@import 'variables';

.nesting {
	.panel.panel-default {
		.panel-heading {
	  		color: $white;
	  		background: $green;
		}

		.panel-body .panel.panel-default {
			.panel-heading {
		  		background: $blue;
			}

			.panel-body .panel.panel-default .panel-heading {
		  		background: $red;
			}
		}

	}
}
